

.navbar-brand{
color: white !important;
}
.navbar{
    background-color: rgb(90, 85, 85);
}
.nav-link{
    color: white !important;
}
.nav-link:hover{
    background-color: white;
    color: yellow;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}